@model PizzaHub.Models.Pizza

@{
    ViewBag.Title = "Details";
}


<h2>Детайли</h2>

<div>
    <h4>Пица @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Име
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Автор
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.FullName)
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<h4>Продукти</h4>
<hr />
<div>
@Html.DisplayFor(model => model.Text)
    </div>
<hr />
@* Засега ще взима текста като продукти, по нататък ще направя функционалност да ги взима от базата
    <ul>
    @foreach (var item in Model.Products)
    {

        <li>   @item.Name </li>

    }
</ul>*@
<p>
    @Html.ActionLink("Редакция", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>


@*
    <h2>Details</h2>

    <div>
        <h4>Pizza</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@